# Análisis y predicciones de la seguridad vial en Reino Unido
***Cristian Escudero***

El proyecto pone de manifiesto una serie de datos que hacen referencia a accidentes de tráfico ocurridos en Reino Unido durante el período de 1979 - 2004.

Los datos han sido proporcionados en por el gobierno de Reino Unido. [(Datos)](https://academictorrents.com/details/c7d2d7a91ae3fd0256dd2ba2d7344960cb3c4dbb)

Se analizarán 3 datasets de datos, sobre accidentes, víctimas y vehículos implicados en el cual se descatarán las características principales encontradas.

A continuación se realizará un modelo predictivo para poder predecir la gravedad "Fatal" de accidente y poder así encontrar los puntos críticos donde se acumulan.

Para ello el proyecto será divido en las 5 tareas siguientes:

- Limpieza y transformación de los datos
- Visualización
- Feature Engineering
- Machine learning
- Front End

In [55]:
import os
chdir = os.getcwd()

#### *Guardamos el path de los datos y del repositorio en un txt para usarlo sucesivamente en notebooks posteriores.*

In [56]:
datapath = input("Introduce datasets path")
with open("path.txt",mode="w") as f:
    f.write(datapath)
    f.write("\n")
    f.write(chdir)
datapath = datapath +'/'

Introduce datasets path D:\Descargas\Stats19-Data1979-2004

In [57]:
datapath

'D:\\Descargas\\Stats19-Data1979-2004/'

**Importamos librerías**

In [58]:
import plotly.tools as tls
import plotly as py
import plotly.graph_objs as go

from matplotlib import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
cmap = cm.get_cmap
import seaborn as sns
import modules

%matplotlib inline
import io
pd.set_option('display.max_columns', None)
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import streamlit as st
import cufflinks as cf
cf.go_offline()
cf.set_config_file(theme='pearl',sharing='public',offline=True)

**Comprobando la codificación del archivo**

In [59]:
import chardet
data1 = datapath+"Accidents7904.csv"
data2 = datapath+"Vehicles7904.csv"
data3 = datapath+"Casualty7904.csv"
files = [data1,data2,data3]
for i in files:
    with open(i, 'rb') as rawdata:
        result = chardet.detect(rawdata.read(10000))
    print(result)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}
{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}
{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

### ***Accidents dataset (1974-2004)***

#### 1. Importación y exploración de los datos

In [60]:
accidents=pd.read_csv(data1,delimiter=',',encoding='UTF-8-SIG',low_memory=False)

In [8]:
accidents.shape

(6224198, 32)

In [9]:
accidents.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,197901A11AD14,NaN,NaN,NaN,NaN,1,3,2,1,18/01/1979,5,08:00,11,9999,3,4,1,30,1,4,-1,-1,-1,-1,1,8,1,-1,0,-1,-1,NaN
1,197901A1BAW34,198460.0,894000.0,NaN,NaN,1,3,1,1,01/01/1979,2,01:00,23,9999,6,0,9,30,3,4,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,NaN
2,197901A1BFD77,406380.0,307000.0,NaN,NaN,1,3,2,3,01/01/1979,2,01:25,17,9999,3,112,9,30,6,4,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,NaN
3,197901A1BGC20,281680.0,440000.0,NaN,NaN,1,3,2,2,01/01/1979,2,01:30,2,9999,3,502,-1,30,3,2,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,NaN
4,197901A1BGF95,153960.0,795000.0,NaN,NaN,1,2,2,1,01/01/1979,2,01:30,510,9999,3,309,6,30,0,-1,-1,0,-1,-1,4,3,3,-1,0,-1,-1,NaN

In [10]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6224198 entries, 0 to 6224197
Data columns (total 32 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   Accident_Index                               object
 1   Location_Easting_OSGR                        float64
 2   Location_Northing_OSGR                       float64
 3   Longitude                                    float64
 4   Latitude                                     float64
 5   Police_Force                                 int64
 6   Accident_Severity                            int64
 7   Number_of_Vehicles                           int64
 8   Number_of_Casualties                         int64
 9   Date                                         object
 10  Day_of_Week                                  int64
 11  Time                                         object
 12  Local_Authority_(District)                   int64
 13  Local_Authority_(Highway)                    object
 14  1st_Road_Class                               int64
 15  1st_Road_Number                              int64
 16  Road_Type                                    int64
 17  Speed_limit                                  int64
 18  Junction_Detail                              int64
 19  Junction_Control                             int64
 20  2nd_Road_Class                               int64
 21  2nd_Road_Number                              int64
 22  Pedestrian_Crossing-Human_Control            int64
 23  Pedestrian_Crossing-Physical_Facilities      int64
 24  Light_Conditions                             int64
 25  Weather_Conditions                           int64
 26  Road_Surface_Conditions                      int64
 27  Special_Conditions_at_Site                   int64
 28  Carriageway_Hazards                          int64
 29  Urban_or_Rural_Area                          int64
 30  Did_Police_Officer_Attend_Scene_of_Accident  int64
 31  LSOA_of_Accident_Location                    object
dtypes: float64(4), int64(23), object(5)
memory usage: 1.5+ GB

In [11]:
accidents.describe().T

,count,mean,std,min,25%,50%,75%,max
Location_Easting_OSGR,6214182.0,429996.434789,109864.543100,0.000000,366900.000000,435470.000000,520130.000000,9.999800e+05
Location_Northing_OSGR,6214182.0,303085.137312,171718.034237,0.000000,177860.000000,266570.000000,399170.000000,1.213700e+06
Longitude,1337067.0,-1.451627,1.388414,-7.536169,-2.365944,-1.434708,-0.227007,1.760591e+00
Latitude,1337067.0,52.586105,1.428390,49.912761,51.498603,52.332713,53.470917,6.080166e+01
Police_Force,6224198.0,29.948737,26.616900,1.000000,6.000000,23.000000,45.000000,9.800000e+01
Accident_Severity,6224198.0,2.771100,0.459411,1.000000,3.000000,3.000000,3.000000,3.000000e+00
Number_of_Vehicles,6224198.0,1.764399,0.732189,1.000000,1.000000,2.000000,2.000000,1.920000e+02
Number_of_Casualties,6224198.0,1.327832,0.826645,1.000000,1.000000,1.000000,1.000000,9.000000e+01
Day_of_Week,6224198.0,4.166296,1.950466,1.000000,2.000000,4.000000,6.000000,7.000000e+00
Local_Authority_(District),6224198.0,340.067290,255.696460,1.000000,102.000000,307.000000,518.000000,9.410000e+02
1st_Road_Class,6224198.0,4.114353,1.395852,-1.000000,3.000000,4.000000,6.000000,6.000000e+00
1st_Road_Number,6224198.0,979.600309,1790.564933,-1.000000,0.000000,121.000000,688.000000,9.999000e+03
Road_Type,6224198.0,5.217134,1.844351,-1.000000,6.000000,6.000000,6.000000,9.000000e+00
Speed_limit,6224198.0,38.866755,13.984929,0.000000,30.000000,30.000000,50.000000,6.600000e+02
Junction_Detail,6224198.0,2.458768,2.577744,-1.000000,0.000000,3.000000,3.000000,9.000000e+00
Junction_Control,6224198.0,1.833459,2.363325,-1.000000,-1.000000,4.000000,4.000000,4.000000e+00
2nd_Road_Class,6224198.0,2.700517,3.257725,-1.000000,-1.000000,3.000000,6.000000,6.000000e+00
2nd_Road_Number,6224198.0,358.180951,1242.526032,-1.000000,0.000000,0.000000,0.000000,9.999000e+03
Pedestrian_Crossing-Human_Control,6224198.0,-0.019556,0.176346,-1.000000,0.000000,0.000000,0.000000,2.000000e+00
Pedestrian_Crossing-Physical_Facilities,6224198.0,0.507336,1.571204,-1.000000,0.000000,0.000000,0.000000,8.000000e+00
Light_Conditions,6224198.0,2.010223,1.662074,-1.000000,1.000000,1.000000,4.000000,7.000000e+00
Weather_Conditions,6224198.0,1.682374,1.739689,-1.000000,1.000000,1.000000,1.000000,9.000000e+00
Road_Surface_Conditions,6224198.0,1.404955,0.636284,-1.000000,1.000000,1.000000,2.000000,5.000000e+00
Special_Conditions_at_Site,6224198.0,0.060214,0.618190,-1.000000,0.000000,0.000000,0.000000,5.000000e+00
Carriageway_Hazards,6224198.0,0.027606,0.303338,-1.000000,0.000000,0.000000,0.000000,3.000000e+00
Urban_or_Rural_Area,6224198.0,-0.049046,1.192679,-1.000000,-1.000000,-1.000000,1.000000,3.000000e+00
Did_Police_Officer_Attend_Scene_of_Accident,6224198.0,-0.549439,0.920361,-1.000000,-1.000000,-1.000000,-1.000000,3.000000e+00

En general podemos ver que muchas de las variables en el dataset Accidents tienen una subcategoría en su variable que acumula más porcentaje,por lo tanto podemos asegurar que es un dataset desbalanceado, como por ejemplo las columnas Accident_Severity, Road_type, Junction_Control, Light_Conditions ,Weather_Conditions..., entre otras.

####  2. Limpieza de los datos

**Comprobamos porcentaje de NaN o elementos nulos**

In [12]:
print("NaN data: \n \n"," \n ",accidents.isna()\
                                          .sum()/len(accidents),"%")
print("\n Missing or out of range data:\n",np.abs(accidents[accidents==-1]\
                                            .sum())/len(accidents),"%")
#accidents.isna().sum().sum()/len(accidents)

NaN data:


  Accident_Index                                 0.000000
Location_Easting_OSGR                          0.001609
Location_Northing_OSGR                         0.001609
Longitude                                      0.785182
Latitude                                       0.785182
Police_Force                                   0.000000
Accident_Severity                              0.000000
Number_of_Vehicles                             0.000000
Number_of_Casualties                           0.000000
Date                                           0.000001
Day_of_Week                                    0.000000
Time                                           0.000111
Local_Authority_(District)                     0.000000
Local_Authority_(Highway)                      0.000000
1st_Road_Class                                 0.000000
1st_Road_Number                                0.000000
Road_Type                                      0.000000
Speed_limit                                    0.000000
Junction_Detail                                0.000000
Junction_Control                               0.000000
2nd_Road_Class                                 0.000000
2nd_Road_Number                                0.000000
Pedestrian_Crossing-Human_Control              0.000000
Pedestrian_Crossing-Physical_Facilities        0.000000
Light_Conditions                               0.000000
Weather_Conditions                             0.000000
Road_Surface_Conditions                        0.000000
Special_Conditions_at_Site                     0.000000
Carriageway_Hazards                            0.000000
Urban_or_Rural_Area                            0.000000
Did_Police_Officer_Attend_Scene_of_Accident    0.000000
LSOA_of_Accident_Location                      0.808709
dtype: float64 %

 Missing or out of range data:
 Accident_Index                                      0.0
Location_Easting_OSGR                               0.0
Location_Northing_OSGR                              0.0
Longitude                                           0.0
Latitude                                            0.0
Police_Force                                        0.0
Accident_Severity                                   0.0
Number_of_Vehicles                                  0.0
Number_of_Casualties                                0.0
Date                                                0.0
Day_of_Week                                         0.0
Time                                                0.0
Local_Authority_(District)                          0.0
Local_Authority_(Highway)                           0.0
1st_Road_Class                                 0.000003
1st_Road_Number                                0.000078
Road_Type                                      0.030341
Speed_limit                                         0.0
Junction_Detail                                 0.00015
Junction_Control                               0.396873
2nd_Road_Class                                 0.418299
2nd_Road_Number                                 0.02284
Pedestrian_Crossing-Human_Control              0.024623
Pedestrian_Crossing-Physical_Facilities        0.024615
Light_Conditions                               0.000264
Weather_Conditions                             0.000308
Road_Surface_Conditions                        0.001844
Special_Conditions_at_Site                     0.026643
Carriageway_Hazards                            0.010954
Urban_or_Rural_Area                            0.594938
Did_Police_Officer_Attend_Scene_of_Accident    0.799544
LSOA_of_Accident_Location                           0.0
dtype: object %

**Decartamos las columnas que no nos interesan, con alto porcentaje de NaN o valores -1 (missing values)**

In [13]:
columns_to_drop = ['Location_Easting_OSGR', 
                   'Location_Northing_OSGR',
                    'Police_Force',
                   'Local_Authority_(District)',
                   'Local_Authority_(Highway)',
                   '1st_Road_Number',
                   '2nd_Road_Number',
                   'Pedestrian_Crossing-Human_Control', 
                    'Pedestrian_Crossing-Physical_Facilities',
                    'Did_Police_Officer_Attend_Scene_of_Accident',
                    'LSOA_of_Accident_Location','Longitude','Latitude',
                    'Urban_or_Rural_Area',
                   'Junction_Control','2nd_Road_Class',
                    'Special_Conditions_at_Site',
                    'Carriageway_Hazards',
                    'Junction_Detail']

In [14]:
accidents.drop(labels=columns_to_drop,inplace=True,axis=1)

**Descartamos filas con NaN**

In [15]:
accidents.dropna(inplace=True)

The values = -1 are refered to missing values or incorrect data.

**Eliminamos filas con valores -1**

In [16]:
for i,k in enumerate(accidents):
    accidents.drop(index=accidents[accidents[k] == -1]\
            .index, inplace=True)

In [17]:
accidents.shape

(6023053, 13)

#### 3. Procesamiento de los datos

Los datos han sido procesados con el fin de obtener un mejor desempeño en el análisis y evitar los datos sesgados.
 Eso implica reemplazar la categoría numérica por etiquetas originales, generar nuevas columnas y eliminar las columnas que no necesitamos y crear funciones que nos ayuden en este proceso.

*Reemplazo de valores con las etiquetas correctas para las columnas siguientes*:
- Date, Month, Year, Hour,Time
- Daytime
- Light_Conditions
- Road_Surface_Conditions
- Weather_Conditions
- Speed
- Accident_Severity
- Day_of_Week
- 1st_road_class
- Road_Type


**Date, Month, Year, Hour**

Creamos las columnas Month, Year y Hour.

In [18]:
accidents['Date']=pd.to_datetime(accidents['Date'])
accidents['Month']=accidents['Date'].dt.month
accidents['Year']=accidents['Date'].dt.year
accidents['Hour'] = pd.to_datetime(accidents['Time'], format='%H:%M').dt.hour

#Replace int by Months
accidents['Month'] = accidents['Month'].replace([1,2,3,4,5,6,7,8,9,10,11,12],['January', 'February', 
                                                 'March','April', 'May','June',
                                                 'July', 'August', 'September',
                                                'October','November','December'
])
#conver to integer values
accidents['Year'] = accidents['Year'].astype(int)

Descartamos la columna Time

In [19]:
accidents.drop(['Time'],axis=1,inplace=True)

##### *Creamos la columna Daytime con los siguientes valores*
- Morning
- Afternoon
- Rush_Hour
- Evening
- Night

Definimos la función para devolver las horas en grupos o momentos del día.

In [20]:

def daytime(hour):
    if hour >= 5 and hour < 10:
        return "Commuting to work"
    elif hour >= 10 and hour < 15:
        return "Office hours"
    elif hour >= 15 and hour < 19:
        return "Commuting to home"
    elif hour >= 19 and hour < 23:
        return "Evening"
    else:
        return "Night"
    
accidents['Daytime'] = accidents['Hour'].apply(daytime)

In [21]:
accidents['Daytime'].value_counts(normalize=True)

Commuting to home    0.310379
Office hours         0.270649
Commuting to work    0.168578
Evening              0.163817
Night                0.086577
Name: Daytime, dtype: float64

In [22]:
print("\n",accidents['Light_Conditions'].value_counts(normalize=True))
print("\n",accidents['Road_Surface_Conditions'].value_counts(normalize=True))
print("\n",accidents['Weather_Conditions'].value_counts(normalize=True))

 1    0.711002
4    0.215766
6    0.058741
7    0.008428
5    0.006063
Name: Light_Conditions, dtype: float64

 1    0.640202
2    0.330403
4    0.020760
3    0.007223
5    0.001411
Name: Road_Surface_Conditions, dtype: float64

 1    0.759659
2    0.142537
8    0.041053
4    0.016735
5    0.015102
7    0.008495
9    0.008376
3    0.006232
6    0.001811
Name: Weather_Conditions, dtype: float64

Como podemos ver el problema aquí es que muchas de las subcategorías apenas tienen datos e información que nos puedan aportar algo.
Por ello se crean nuevas columnas intentando cambiar un poco la estrategia y acumulando más porcentaje para cada categoría nueva creada.

**Conditions**

In [23]:
#Replacing integer values by labels
accidents.Light_Conditions = accidents.Light_Conditions.replace([1,4,5,6,7], 
                                                      ['Daylight', 
                                                       'Darkness - lights lit', 
                                                       'Darkness - lights unlit', 
                                                       'Darkness - no lighting', 
                                                       'Darkness - lighting unknown'])


accidents.Weather_Conditions = accidents.Weather_Conditions.replace([1,2,3,4,5,6,7,8,9], 
                                                                ['Fine no high winds', 
                                                                 'Raining no high winds', 
                                                                 'Snowing no high winds', 
                                                                 'Fine + high winds', 
                                                                 'Raining + high winds', 
                                                                 'Snowing + high winds', 
                                                                 'Fog or mist', 'Other', 'Unknown', 
                                                                 ])

accidents.Road_Surface_Conditions = accidents.Road_Surface_Conditions.replace([1,2,3,4,5,6,7], 
                                                                                    ['Dry', 
                                                                                     'Wet or damp', 
                                                                                     'Snow', 
                                                                                     'Frost or ice', 
                                                                                     'Flood over 3cm. deep',
                                                                                     'Oil or diesel',
                                                                                     'Mud'])
#define functions to groupby smaller groups
def road_conditions(cond):
    if cond != "Dry":
        return 'Bad'
    elif cond == 'Dry':
        return 'Good'
accidents['Road_Surface_Conditions_2'] = accidents['Road_Surface_Conditions'].apply(road_conditions)

def weather_conditions(value1):
    if value1 == 'Fine no high winds':
        return 'Good'
    else:
        return 'Bad'
accidents['Weather_Conditions_2'] =  accidents.Weather_Conditions.apply(weather_conditions)


def light_conditions(value2):
    if value2 == 'Daylight':
        return 'Good'
    else:
        return 'Bad'
accidents['Light_Conditions_2'] = accidents['Light_Conditions'].apply(light_conditions)

In [24]:
print(accidents['Light_Conditions_2'].value_counts(normalize=True))
print(accidents['Road_Surface_Conditions_2'].value_counts(normalize=True))
print(accidents['Weather_Conditions_2'].value_counts(normalize=True))

Good    0.711002
Bad     0.288998
Name: Light_Conditions_2, dtype: float64
Good    0.640202
Bad     0.359798
Name: Road_Surface_Conditions_2, dtype: float64
Good    0.759659
Bad     0.240341
Name: Weather_Conditions_2, dtype: float64

Hemos mejorado un poco los porcentajes y reducido las subcategorías, pero aún hay  que muestran un porcentaje mucho más alto, esto podría suponer un problema a la hora de entrenar nuestro modelo.

Eliminamos las columnas originales

In [25]:
accidents.drop(['Light_Conditions',
                'Weather_Conditions',
                'Road_Surface_Conditions'],
               inplace=True,axis=1)

**Speed**

Para la variable Speed hacemos lo mismo, la agrupamos en grupos de velocidades.

In [26]:
def speed_groups(speed):
    if speed < 10:
        return "0-10"
    elif speed >=10 and speed < 20:
        return "10-20"
    elif speed >=20 and speed < 30:
        return "20-30"
    elif speed >=30 and speed < 40:
        return "30-40"
    elif speed >=40 and speed < 50:
        return "40-50"
    elif speed >=50 and speed < 60:
        return "50-60"
    elif speed >=60 and speed < 70:
        return "60-70"
    elif speed >=70 and speed < 80:
        return "70-80"
    elif speed >=80 and speed < 90:
        return "80-90"
    
accidents['Speed_limit_2'] =  accidents['Speed_limit'].apply(speed_groups)
accidents['Speed_limit_2'].value_counts()

30-40    3985128
60-70    1103101
40-50     465445
70-80     379634
50-60      82872
20-30       4916
10-20       1486
0-10         465
80-90          5
Name: Speed_limit_2, dtype: int64

**Accident_Severity**

In [27]:
accidents['Accident_Severity'].replace([1,2,3],
                                       ['Fatal',
                                        'Serious',
                                        'Slight']
                                       ,inplace=True)


accidents['Accident_Severity'].value_counts(normalize=True)

Slight     0.786649
Serious    0.195782
Fatal      0.017568
Name: Accident_Severity, dtype: float64

**Day_of_Week**

In [28]:
days = ['Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday']

accidents['Day_of_Week'].replace([1,2,3,4,5,6,7],days, inplace=True)

accidents.Day_of_Week.value_counts(normalize=True)\
                     .sort_values(ascending=True)

Sunday       0.112166
Monday       0.140341
Tuesday      0.140834
Wednesday    0.143082
Saturday     0.143674
Thursday     0.150016
Friday       0.169888
Name: Day_of_Week, dtype: float64

**1st_Road_Class**

In [29]:
#Put Motorway and A(M) in the same category
accidents['1st_Road_Class'].replace([1,2,3,4,5,6],
                                    ['Motorway',
                                     'A(M)',
                                     'A',
                                     'B',
                                     'C',
                                     'Unclassified'],inplace=True)

accidents['1st_Road_Class'] = accidents['1st_Road_Class'].replace('A(M)', 'Motorway')
accidents['1st_Road_Class'].value_counts(normalize=True)

A               0.470594
Unclassified    0.289344
B               0.126654
C               0.085809
Motorway        0.027599
Name: 1st_Road_Class, dtype: float64

**Road_Type**

In [30]:
accidents['Road_Type'].replace([1,2,3,6,7,9,12],
                               ['Roundabout',
                                 'One way street',
                                 'Dual carriageway',
                                 'Single carriageway',
                                 'Slip road','Unknown',
                                 'One way street/Slip road'],
                               inplace=True)
accidents.Road_Type.value_counts(normalize=True)

Single carriageway    0.797725
Dual carriageway      0.133733
Roundabout            0.049082
Unknown               0.019461
Name: Road_Type, dtype: float64

**Guardamos en csv**

In [31]:
accidents.head()

,Accident_Index,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,1st_Road_Class,Road_Type,Speed_limit,Month,Year,Hour,Daytime,Road_Surface_Conditions_2,Weather_Conditions_2,Light_Conditions_2,Speed_limit_2
0,197901A11AD14,Slight,2,1,1979-01-18,Thursday,A,Roundabout,30,January,1979,8,Commuting to work,Good,Bad,Good,30-40
1,197901A1BAW34,Slight,1,1,1979-01-01,Monday,Unclassified,Unknown,30,January,1979,1,Night,Bad,Bad,Bad,30-40
2,197901A1BFD77,Slight,2,3,1979-01-01,Monday,A,Unknown,30,January,1979,1,Night,Bad,Bad,Bad,30-40
4,197901A1BGF95,Serious,2,1,1979-01-01,Monday,A,Single carriageway,30,January,1979,1,Night,Bad,Bad,Bad,30-40
5,197901A1CBC96,Slight,1,1,1979-01-01,Monday,A,Single carriageway,30,January,1979,2,Night,Bad,Bad,Bad,30-40

In [32]:
accidents.to_csv(datapath+'accidents_labeled.csv',sep=',',index = True)

### ***Vehicles and Casualty datasets (1974 - 2004)***

#### 1. Importamos y exploramos los datos

In [61]:
veh = pd.read_csv(data2,
                  delimiter=',',
                  encoding='UTF-8-SIG',
                  usecols=[
                      'Acc_Index','Vehicle_Type',
                      'Sex_of_Driver',
                      'Age_Band_of_Driver',
                      'Engine_Capacity_(CC)',
                      'Age_of_Vehicle'
])

In [34]:
cas = pd.read_csv(data3
                  ,delimiter=',',
                  encoding='UTF-8-SIG',
                  usecols=['Acc_Index',
                           'Sex_of_Casualty',
                           'Age_Band_of_Casualty',
                           'Casualty_Type'])

**Juntamos ambos datasets**

In [35]:
dfmerged = pd.merge(cas,veh,how='inner',on='Acc_Index')

In [36]:
del cas,veh
dfmerged.head()

,Acc_Index,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Type,Vehicle_Type,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Age_of_Vehicle
0,197901A11AD14,1,-1,104,109,1,7,-1,-1
1,197901A11AD14,1,-1,104,104,1,-1,-1,-1
2,197901A1BAW34,2,6,0,109,1,-1,-1,-1
3,197901A1BFD77,1,5,109,109,1,5,-1,-1
4,197901A1BFD77,1,5,109,109,1,7,-1,-1

In [37]:
dfmerged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15322399 entries, 0 to 15322398
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Acc_Index             object
 1   Sex_of_Casualty       int64
 2   Age_Band_of_Casualty  int64
 3   Casualty_Type         int64
 4   Vehicle_Type          int64
 5   Sex_of_Driver         int64
 6   Age_Band_of_Driver    int64
 7   Engine_Capacity_(CC)  int64
 8   Age_of_Vehicle        int64
dtypes: int64(8), object(1)
memory usage: 1.1+ GB

In [38]:
dfmerged.describe().T

,count,mean,std,min,25%,50%,75%,max
Sex_of_Casualty,15322399.0,1.404371,0.493483,-1.0,1.0,1.0,2.0,2.0
Age_Band_of_Casualty,15322399.0,5.699095,2.362212,-1.0,4.0,6.0,7.0,11.0
Casualty_Type,15322399.0,81.030320,45.985843,-1.0,19.0,109.0,109.0,113.0
Vehicle_Type,15322399.0,93.964820,35.180849,-1.0,109.0,109.0,109.0,113.0
Sex_of_Driver,15322399.0,1.304607,0.547208,-1.0,1.0,1.0,2.0,3.0
Age_Band_of_Driver,15322399.0,5.821711,2.466610,-1.0,5.0,6.0,7.0,11.0
Engine_Capacity_(CC),15322399.0,809.169439,1382.064137,-1.0,-1.0,-1.0,1580.0,99999.0
Age_of_Vehicle,15322399.0,2.360552,4.765303,-1.0,-1.0,-1.0,5.0,99.0

In [39]:
dfmerged.shape

(15322399, 9)

#### 2. Limpieza de datos

**Comprobamos valores nulos y faltantes**

In [40]:
print("NaN data: \n \n"," \n ",dfmerged.isna()\
                                       .sum()/len(dfmerged),"%")

print("\n Missing or out of range data:\n",np.abs(dfmerged[dfmerged==-1]\
                                             .sum())/len(dfmerged),"%")

NaN data:


  Acc_Index               0.0
Sex_of_Casualty         0.0
Age_Band_of_Casualty    0.0
Casualty_Type           0.0
Vehicle_Type            0.0
Sex_of_Driver           0.0
Age_Band_of_Driver      0.0
Engine_Capacity_(CC)    0.0
Age_of_Vehicle          0.0
dtype: float64 %

 Missing or out of range data:
 Acc_Index                    0.0
Sex_of_Casualty         0.000445
Age_Band_of_Casualty    0.016806
Casualty_Type           0.000003
Vehicle_Type            0.000351
Sex_of_Driver           0.001803
Age_Band_of_Driver      0.066144
Engine_Capacity_(CC)    0.540198
Age_of_Vehicle            0.5676
dtype: object %

**Descartamos las filas con valores nulos**

In [41]:
for i,k in enumerate(dfmerged):
    dfmerged.drop(index=dfmerged[dfmerged[k] == -1].index, inplace=True,axis=1)
    
#Drop unknown values of Sex_of_Driver
dfmerged.drop(index=dfmerged[dfmerged['Sex_of_Driver'] == 3].index, inplace=True,axis=1)

#### 3. Procesamiento de datos

*Reemplazo de valores con las etiquetas correctas las las siguientes columnas:*
- Sex_of_Casualty
- Age_Band_of_Casualty
- Casualty_Type
- Vehicle_Type
- Sex_of_Driver
- Age_Band_of_Driver
- Engine Capacity

**Sex_of_Casualty**

In [42]:
dfmerged.Sex_of_Casualty = dfmerged.Sex_of_Casualty\
                                    .replace([1,2],['Male','Female'])

**Age Band of Casualty**

In [43]:
dfmerged.Age_Band_of_Casualty = dfmerged.Age_Band_of_Casualty\
                                        .replace([1,2,3,4,5,6,7,8,9,10,11],['0 - 5',
                                                                            '6 - 10',
                                                                            '11 - 15',
                                                                            '16 - 20',
                                                                            '21 - 25',
                                                                            '26 - 35',
                                                                            '36 - 45',
                                                                            '46 - 55',
                                                                            '56 - 65',
                                                                            '66 - 75',
                                                                            'Over 75' ])

**Casualty type**

In [44]:
values1=['Pedestrian',
'Cyclist',
'Motorcycle 50cc and under rider or passenger',
'Motorcycle 125cc and under rider or passenger',
'Motorcycle over 125cc and up to 500cc rider or  passenger',
'Motorcycle over 500cc rider or passenger',
'Taxi/Private hire car occupant',
'Car occupant',
'Minibus (8 - 16 passenger seats) occupant',
'Bus or coach occupant (17 or more pass seats)',
'Horse rider',
'Agricultural vehicle occupant',
'Tram occupant',
'Van / Goods vehicle (3.5 tonnes mgw or under) occupant',
'Goods vehicle (over 3.5t. and under 7.5t.) occupant',
'Goods vehicle (7.5 tonnes mgw and over) occupant',
'Mobility scooter rider',
'Electric motorcycle rider or passenger',
'Other vehicle occupant',
'Motorcycle - unknown cc rider or passenger',
'Goods vehicle (unknown weight) occupant',
'Motorcycle - Scooter rider or passenger',
'Motorcycle rider or passenger',
'Motorcycle - Combination rider or passenger',
'Motorcycle over 125cc rider or passenger',
'Taxi (excluding private hire cars) occupant',
'Car occupant (including private hire cars)',
'Minibus/Motor caravan occupant',
'Goods vehicle (over 3.5 tonnes) occupant']

values2 = [0,1,2,3,4,5,8,9,
           10,11,16,17,18,19,
           20,21,22,23,90,97
           ,98,103,104,105,106
           ,108,109,110,113]

dfmerged.Casualty_Type = dfmerged.Casualty_Type.replace(values2,values1)

**Vehicle type**

In [45]:
values3 = [1,2,3,10,11,17,19,
           20,21,90,103,104,
           105,106,108,109,
           110,113]

values4 = ['Pedal cycle',
'Motorcycle 50cc and under',
'Motorcycle 125cc and under',
'Minibus (8 - 16 passenger seats)',
'Bus or coach (17 or more pass seats)',
'Agricultural vehicle',
'Van / Goods 3.5 tonnes mgw or under',
'Goods over 3.5t. and under 7.5t',
'Goods 7.5 tonnes mgw and over',
'Other vehicle',
'Motorcycle - Scooter',
'Motorcycle',
'Motorcycle - Combination',
'Motorcycle over 125cc',
'Taxi (excluding private hire cars)',
'Car (including private hire cars)',
'Minibus/Motor caravan',
'Goods vehicle over 3.5 tonnes']






dfmerged.Vehicle_Type = dfmerged.Vehicle_Type.replace(values3,values4)

**Engine Capacity**

En esta columna hemos detectado que tenemos valores erróneos para la subcategoría Cars y Motorcycle, donde hemos encontrado cilindradas de más de 9000cm3 para coches y 2300cm3 para motocicletas.

Se eliminan ya que nos generarán outliers más adelante.

In [46]:
#Cleaning to a common sense engine capacity / vehicle type
mask1 = dfmerged[(dfmerged["Vehicle_Type"].str.contains("Car"))\
                 & (dfmerged["Engine_Capacity_(CC)"] > 9000)].index
dfmerged.drop(mask1,inplace=True)

mask2 = dfmerged[(dfmerged["Vehicle_Type"].str.contains("Motorcycle"))\
                 & (dfmerged["Engine_Capacity_(CC)"] > 2300)].index
dfmerged.drop(mask2,inplace=True)

mask3 = dfmerged[(dfmerged["Vehicle_Type"].str.contains("Taxi"))\
                 & (dfmerged["Engine_Capacity_(CC)"] > 2400)].index
dfmerged.drop(mask3,inplace=True)

mask4 = dfmerged[dfmerged['Vehicle_Type']=="Other vehicle"].index
dfmerged.drop(mask4,inplace=True)

**Sex_of_Driver**

In [47]:
dfmerged.Sex_of_Driver = dfmerged.Sex_of_Driver.replace([1,2],['Male','Female'])

**Age_Band_of_Driver**

In [48]:
dfmerged.Age_Band_of_Driver = dfmerged.Age_Band_of_Driver\
                                      .replace([1,2,3,4,5,6,7,8,9,10,11],['0 - 5','6 - 10','11 - 15',
                                                                        '16 - 20','21 - 25','26 - 35',
                                                                        '36 - 45','46 - 55','56 - 65',
                                                                        '66 - 75','Over 75'
                                                                        ])

**Comprobamos el dataframe procesado**

In [49]:
dfmerged.head()

,Acc_Index,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Type,Vehicle_Type,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Age_of_Vehicle
5697010,198901AD00021,Male,26 - 35,Motorcycle rider or passenger,Motorcycle,Male,26 - 35,99,9
5697012,198901AD00022,Male,26 - 35,Motorcycle rider or passenger,Motorcycle,Male,26 - 35,249,7
5697013,198901AD00022,Male,26 - 35,Motorcycle rider or passenger,Goods vehicle over 3.5 tonnes,Male,46 - 55,3858,8
5697018,198901AD00026,Male,26 - 35,Motorcycle rider or passenger,Motorcycle,Male,26 - 35,392,10
5697020,198901AD00028,Female,36 - 45,Car occupant (including private hire cars),Car (including private hire cars),Female,36 - 45,1397,3

**Juntamos los dos últimos datasets y lo guardamos como csv**

In [50]:
#Rename the column before merge.
accidents.rename(columns = {'Accident_Index':'Acc_Index'}, inplace = True)

In [51]:
dfmerged.to_csv(datapath+'veh_cas_labeled.csv',sep=',',index = True)

In [52]:
#Merge the Accidents, casualties and vehicles dataframes cleaned from the last notebook.
pd.merge(dfmerged,accidents,how='inner',on = 'Acc_Index').to_csv(datapath+'alldfjoined.csv',sep=',',index = True)

In [54]:
reset -f